
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Screenshots</title>
  </head>
  <body>
    <h1>Screenshots</h1>
    <p>Screenshot ID: {{ scrape_id }}</p>
    <ul>
      {% for screenshot in screenshots %}
        <li>
            <a href="{{url_for('get_screenshot', scrape_id=scrape_id, file_name=screenshot.name)}}">{{ screenshot.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </body>
</html>